/* ---------------------------- CSS RERSET ------------------------------- */

*, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: #FAF7F2;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* accessibility for keyboards */
a:focus {
  outline: 2px solid #1E1E1E;
  outline-offset: 2px;
}

button {
    cursor: pointer;
}

/* ---------------------------- FONTS ------------------------------- */

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-medium-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-semibold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/playfairdisplay-bold-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ---------------------------- FONT SIZING ------------------------------- */

h1 , h2 , h3 , h4 {
    font-family: "Playfair Display";
    color: #1E1E1E;
}

p { 
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    color: #1E1E1E;
}

h1 {
    font-size: 2.6rem;
    line-height: 1.2;
}

h2 {
    font-size: 2.3rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.3;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.3;
}

a {
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.6;
    color: #008080;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/* ---------------------------- SPACING ------------------------------- */

.container {
    padding: 3rem 1rem;
}

/* ----------------------- FADE IN ANIMATION --------------------- */

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* ---------------------------- BUTTONS ------------------------------- */

.btn {
    font-weight: 600;
    color: white;
    background-color: #008080;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    width: fit-content;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #006666;
}

.btn.btn-secondary {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #008080;
    padding: 0.8rem;
    color: #1E1E1E;
}

/* ----------------------- HEADER --------------------- */

.site-header {
    background-color: #1E1E1E; /* Charcoal */
    position: sticky;
    top: 0;
    z-index: 10;
}

.container.header-inner {
    padding: 1rem;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 45px;
    width: auto;
}

/* Toggle visible on mobile */
.nav-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle svg {
    width: 35px;
    height: 35px;
    stroke: #008080; /* Teal accent */
}

/* Mobile dropdown menu */
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1E1E1E; /* Charcoal */
    display: none;
    padding: 2rem;
}

.nav.active {
    display: block;
}

/* Mobile nav layout */
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.nav-link {
    color: #FFFFFF; /* White text */
    text-decoration: none;
}


/* ----------------------- FOOTER --------------------- */

.footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1E1E1E;
}

.main-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-branding {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-branding img {
    height: auto;
    width: 180px;
}

.footer-branding p {
    color: white;
}

.footer-services,
.footer-quick-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-services h4,
.footer-quick-links h4 {
    color: white;
}

.footer-signature::before {
    content: "";
    display: block;
    margin-bottom: 1rem;
    height: 1px;
    width: 100%;
    background-color: #FAF7F2;
}

.footer-signature p{
    color: white;
    text-align: center;
}

.footer-services ul > li > a,
.footer-quick-links ul > li > a {
    font-weight: 500;
}

.footer-services ul > li > a:hover,
.footer-quick-links ul > li > a:hover {
    color: #006666;
    text-decoration: underline;
}

/* ---------------------------- TABLET ------------------------------- */

@media (min-width: 768px) {

    .container {
        padding: 3rem 4rem;
    }

    .container.header-inner {
        padding: 1rem 4rem;
    }

    .main-footer {
        flex-direction: row;
    }

    .footer-branding,
    .footer-services,
    .footer-quick-links {
        flex: 1;
    }

    .footer-branding {
        padding-right: 2rem;
    }

}

/* ---------------------------- LAPTOP ------------------------------- */

@media (min-width: 1024px) {

    p { 
        font-family: "Inter";
        font-weight: 400;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 1.3;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    h4 {
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .container {
        padding: 4rem 6rem;
    }

    /* ---------------------- Header --------------------------------- */
    .container.header-inner {
        padding: 1rem 6rem;
    }

    .nav {
        position: static;
        display: block;
        width: auto;
        padding: 0;
    }

    .nav-list {
        flex-direction: row;
        gap: 2rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-list a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #FFFFFF; /* White text */
        font-weight: 500;
        font-size: 1.2rem;
        transition: color 0.3s ease;
    }

    .nav-list a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #008080; /* Teal underline on hover */
        transition: width 0.3s ease;
    }

    .nav-list a:hover::after {
        width: 100%;
    }

    .nav-list a:hover {
        color: #008080; /* Teal hover text */
    }

    .footer-branding {
        padding-right: 4rem;
        padding-left: 6rem;
    }
}

/* ---------------------------- DESKTOP ------------------------------- */

@media (min-width: 1440px) {

    p { 
        font-family: "Inter";
        font-weight: 400;
        line-height: 1.6;
        font-size: 1.2rem;
    }

    h1 {
        font-size: 3.6rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 1.3;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    h4 {
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .container {
        padding: 4rem 12rem 4rem 12rem;
    }

    .container.header-inner {
        padding: 1rem 12rem;
    }

    .logo img {
        height: 55px;
        width: auto;
    }

    .footer-branding {
        padding-right: 4rem;
        padding-left: 8rem;
    }

}

/* ---------------------------- WIDE DESKTOP ------------------------------- */

@media (min-width: 1920px) { 

    .footer-branding {
        padding-right: 12rem;
        padding-left: 12rem;
    }

}