/* ----------------------- ABOUT PAGE --------------------- */

/* -------------- Header Section -----------------*/

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us-section-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us-section-info h1 {
    text-align: center;
}

.about-us-section-image img {
    border-radius: 5px;
}

/* -------------- Values Section -----------------*/


.about-us-values {
    background-color: #f1f1f1;
}

.about-values {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-values h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.about-values-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-values-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.about-values-icon {
    background-color: #1E1E1E;
    border-radius: 50%;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-values-card svg {
    width: 40px;
    height: 40px;
    color: #008080;
}

/* -------------- Our Journey Section -----------------*/

.our-journey-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    background-color: #1E1E1E;
}

.our-journey-section h2 {
    color: white;
}

.our-journey {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.journey-item h4 {
    color: #008080;
    font-size: 1.6rem;
}

.journey-item p { 
    color: white;
    font-weight: 500;
}

.journey-top-decor,
.journey-bottom-decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.journey-top-decor-bubble,
.journey-bottom-decor-bubble {
    background-color: #008080;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 1rem;
}

.journey-top-decor-line,
.journey-bottom-decor-line {
    background-color:#008080;
    height: 3rem;
    width: 0.1rem;
}

.journey-short-decor-line {
    background-color:#008080;
    height: 2rem;
    width: 0.1rem;
    align-items: center;
}

/* -------------- Why Us Section -----------------*/

.why-us {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why-us-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.why-us-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.why-us-list-item {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.why-us-list-item svg {
    height: 22px;
    width: 22px;
    color: #008080;
}


/* ----------------------- TEAM PAGE --------------------- */

.team {
    display: flex;
    flex-direction: column;
}

.team-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.team-header-support {
    font-weight: 500;
}

.team-info {
    text-align: center;
    padding-bottom: 2rem;
}

.team-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 0;
}

.team-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid #C0C0C0;
    border-radius: 10px;

    box-shadow: 1px 1px 10px #C0C0C0;
}

.team-card-label {
    color: #008080;
    font-weight: 500;
    padding-bottom: 1rem;
}

.team-inner-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
}

.team-card-image img {
    height: 250px;
    width: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-space {
    padding: 0 1rem;
}

.team-card-contacts {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5rem 1rem;
}

.team-card-contacts a {
    color: white;
    transition: color 0.3s ease;
}

.team-card-contacts a:hover {
    color: #008080;
}

.team-card-contacts-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.team-card-contacts-info svg {
    height: 22px;
    color: #008080;
}

/* ----------------------- PRACTICE PAGE --------------------- */

.practice-page-header-section,
.contact-page-header-section {
    background-image: 
        linear-gradient(rgba(30, 30, 30, 0.85), rgba(30, 30, 30, 0.65)),
        url("https://abugelis.github.io/CorkCityLawGroup/assets/images/contact-page-bg.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.practice-page-header h1,
.contact-page-header h1 {
    color: white;
    text-align: center;
}

.practice-page-header p,
.contact-page-header p {
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-weight: 500;
}

/* ----------------------- CONTACT PAGE --------------------- */

.urgent-contact-strip {
    background-color: #1E1E1E;
    padding: 1rem;
}

.urgent-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.urgent-contact h2 {
    color: white;
}

.urgent-contact-details {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.urgent-contact-details a {
    font-size: 1.6rem;
    text-decoration: underline;
}

.urgent-contact-details a:hover {
    text-decoration: none;
    color: #006666;
}

.urgent-contact-details svg {
    height: 32px;
    color: #008080;
}

.what-happens-next-section {
    background-color: #f1f1f1;
}

.what-happens-next {
    display: flex;
    flex-direction: column;
}

.what-happens-next-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding-bottom: 4rem;
}

.what-happens-next-header p {
    font-weight: 500;
}

.what-happens-next-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.what-happens-next-grid-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center
}

.what-happens-next-grid-item svg {
    height: 40px;
    width: auto;
    color: #008080;
}

.what-happens-next-icon {
    background-color: #1E1E1E;
    border-radius: 50%;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-flex {
    display: flex;
    flex-direction: column;
}

.faq h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E1E1E;
}

.faq-icon {
  font-size: 1.2rem;
  transition: transform 0.3s;
  color: #008080;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}

.faq-answer p {
  margin: 0.5rem 0;
}

/* ----------------- EDGE CASE: small mobile screens ----------------- */

@media (max-width: 400px) { 

}

/* ---------------------------- TABLET ------------------------------- */

@media (min-width: 768px) {
    
    .about-values-row {
        flex-direction: row;
    }

    .why-us {
        flex-direction: row;
    }

    .why-us-header {
        flex: 1;
    }

    .why-us-list {
        flex: 1;
    }

    .team-inner-card {
        flex-direction: row;
        max-width: 700px;
    }

    .team-card-image img {
        height: 240px;
        width: 800px;
        border-top-right-radius: 0;
    }

    .team-card {
        gap: 0;
    }

    .card-space {
        padding: 1rem;
    }

    .what-happens-next-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

/* ---------------------------- LAPTOP ------------------------------- */

@media (min-width: 1024px) {

    .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    .team-inner-card {
        flex-direction: column;
    }

    .team-card-image img {
        border-top-right-radius: 10px;
    }

    .faq {
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }

    
}

/* ---------------------------- DESKTOP ------------------------------- */

@media (min-width: 1440px) {

    .about-us-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .about-us-section-info {
        flex: 1;
    }

    .about-us-section-image {
        flex: 1;
    }

    .team-card-image img {
        height: 320px;
    }

    .what-happens-next-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .faq {
        gap: 20rem;
    }

}

/* ---------------------------- WIDE DESKTOP ------------------------------- */

@media (min-width: 1920px) { 

    .why-us-header {
        padding-left: 6rem;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .team-inner-card {
        flex-direction: row;
    }

    .team-card-image img {
        height: 300px;
        width: 1200px;
    }

    .faq {
        gap: 35rem;
    }

}