/* ----------------------- ABOUT PAGE --------------------- */

/* -------------- Header Section -----------------*/

.about-us-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us-section-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-us-section-info h1 {
    text-align: center;
}

.about-us-section-image img {
    border-radius: 5px;
}

/* -------------- Values Section -----------------*/


.about-us-values {
    background-color: #f1f1f1;
}

.about-values {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-values h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.about-values-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-values-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.about-values-icon {
    background-color: #1E1E1E;
    border-radius: 50%;
    padding: 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-values-card svg {
    width: 40px;
    height: 40px;
    color: #008080;
}

/* -------------- Our Journey Section -----------------*/

.our-journey-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    background-color: #1E1E1E;
}

.our-journey-section h2 {
    color: white;
}

.our-journey {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.journey-item h4 {
    color: #008080;
    font-size: 1.6rem;
}

.journey-item p { 
    color: white;
    font-weight: 500;
}

.journey-top-decor,
.journey-bottom-decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.journey-top-decor-bubble,
.journey-bottom-decor-bubble {
    background-color: #008080;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 1rem;
}

.journey-top-decor-line,
.journey-bottom-decor-line {
    background-color:#008080;
    height: 3rem;
    width: 0.1rem;
}

.journey-short-decor-line {
    background-color:#008080;
    height: 2rem;
    width: 0.1rem;
    align-items: center;
}

/* -------------- Why Us Section -----------------*/

.why-us {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why-us-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.why-us-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.why-us-list-item {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.why-us-list-item svg {
    height: 22px;
    width: 22px;
    color: #008080;
}

/* ----------------- EDGE CASE: small mobile screens ----------------- */

@media (max-width: 400px) { 

}

/* ---------------------------- TABLET ------------------------------- */

@media (min-width: 768px) {
    
    .about-values-row {
        flex-direction: row;
    }

    .why-us {
        flex-direction: row;
    }

    .why-us-header {
        flex: 1;
    }

    .why-us-list {
        flex: 1;
    }
}

/* ---------------------------- LAPTOP ------------------------------- */

@media (min-width: 1024px) {

    .about-us-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .about-us-section-info {
        flex: 1;
    }

    .about-us-section-image {
        flex: 1;
    }

    

}

/* ---------------------------- DESKTOP ------------------------------- */

@media (min-width: 1440px) {

}

/* ---------------------------- WIDE DESKTOP ------------------------------- */

@media (min-width: 1920px) { 

}